/* ========================= Spacing Utilities CSS Start ========================= */
// Global Section Spacing
$section: (
  120: (xl: 120px,
    md: 80px,
    msm: 60px),
  60: (xl: 60px,
    md: 40px,
    msm: 30px),
);

// Generate padding and margin classes separately
@include createSpace(padding, $section);
@include createSpace(margin, $section);
/* ========================= Spacing Utilities CSS End ========================= */