/* ========================= Accordion CSS Start ================================ */
.custom--accordion {
  .accordion-item {
    background-color: transparent;
    border: none;


    &:not(:last-child) {
      margin-bottom: 24px;

      @include sm-screen {
        margin-bottom: 16px;
      }
    }

    &:not(:has(.accordion-button.collapsed)) {
      border-color: hsl(var(--base));
    }

    &:first-of-type .accordion-button {
      border-top-left-radius: 999px !important;
      border-top-right-radius: 999px !important;
    }

    &:last-of-type .accordion-button {
      border-bottom-left-radius: 999px !important;
      border-bottom-right-radius: 999px !important;
    }
  }

  .accordion-header {
    font-family: var(--body-font);
  }

  .accordion-body {
    padding: 12px 24px 0px 24px;

    @include msm-screen {
      padding: 8px 20px 0px 20px;
    }
  }

  .accordion-button {
    font-size: rem(18px);
    font-weight: 500;
    line-height: 150%;
    padding: 8px 8px 8px 24px;
    color: hsl(var(--dark));
    border: 1px solid hsl(var(--border-color));
    background-color: hsl(var(--white));
    gap: 12px;
    border-radius: 999px;

    @include sm-screen {
      font-size: rem(16px);
    }

    @include msm-screen {
      font-size: rem(14px);
      padding: 8px 8px 8px 20px;
    }

    &::after {
      --size: 46px;
      content: '\f067';
      width: var(--size);
      height: var(--size);
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-image: none;
      font-family: 'Line Awesome Free';
      font-size: calc(var(--size) * 0.5);
      font-weight: 900;
      color: hsl(var(--dark));
      background-color: hsl(var(--base));

      @include sm-screen {
        --size: 38px;
      }

      @include msm-screen {
        --size: 30px;
      }
    }

    &:not(.collapsed) {
      box-shadow: none;
      color: hsl(var(--dark));
      background-color: hsl(var(--base));

      &::after {
        content: '\f068';
        transform: none !important;
        color: hsl(var(--dark));
        background-color: hsl(var(--white));
      }
    }

    &:focus {
      box-shadow: none;
    }
  }

  .accordion-text {
    font-size: rem(16px);
    font-weight: 500;
    line-height: 150%;
    color: hsl(var(--dark)/0.8);

    @include sm-screen {
      font-size: rem(14px);
    }
  }
}

/* ========================= Accordion CSS End ================================== */